body {

}
nav {
	width: 100%;
	height: 70px;
	display: flex;
}
.btn-search{

}
.main-container{
	margin-top: 30px;
}
.logoyoutube{
	padding-left: 35px;
}
.fas-bars{
	padding-left: 20px;
}
.fas , .fab{
 	color: #606060;
}
.right-side{
 	padding-left: 150px;
}
.fas-video , .fa-th{
 	padding-left: 20px;
 	color: #606060;
}

.fas-bell{
 	padding-left: 20px;
 	color: #606060;
}
.formsearch{
 	padding-left: 100px;
}
.inputsearch{
 	width: 562px;
 	height: 28px;
    
}

.btn-search{
    width: 66px;
    height: 33.9px;
    position: relative;
    right: 73px;
    background: #F0F0F0;
}

::placeholder{
  	font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    max-width: 100%;
    text-align: left;
}
.main-partvideo{
	padding-left: 120px;
}
.title-video{
	margin-left: 120px;
	font-size: 20px;
	color: #000701;
	font-weight: 300;
}
.undertitle-video{
	margin-left: 120px;
	font-size: 15px;
	color: #a4a4a4;
}
.main-part{
	display: flex;
}
.inputqueue{
	padding-left: 400px;
}
.fa-thumbs-up , .fa-thumbs-down , .fa-share , .fa-save , .fa-circle , .fa-ellipsis-h{
	color: #909090;
	padding-left: 20px;

}
.title-video{
	font-size: 18px;
}
.under-video{
	display: flex;
}
.like-dislike-other{
    margin-left: 83px;
}
.countlike , .countdislike , .share , .save{
	font-size: 14px;
	color: #909090;
	padding-left: 10px;
}
a{
	text-decoration: none;
}
iframe{
	width: 640px;
	height: 360px;

}
hr { 
	width: 640px;
  	margin-left: 120px;
 
}
.afterhr{
	position: relative;
}
.afterhr ::after{
	position: absolute;
	content: "";
	width: 134px;
	height: 2px;
	background-color: black;
	bottom: 0;
	display: block;
	left: 30%;
}