* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
body {
	font-family: 'Roboto', sans-serif;
	background: #f4f4f4;
	overflow-x: hidden;
}

/* Utility Classes */

.flex-h,
.flex-v {
  display: flex;
}

.flex-v {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}
.full-container {
	width: 100vw;
	background-color: #fff;
  }
  
  .logo {
	width: 100px;
	height: 23px;
	margin-left: 2.5rem;
	display: inline-block;
  }
  
  .text-upper {
	text-transform: uppercase;
  }
  .primary-color {
	color: var(--primary-color);
  }
  /* .............. */
  /* Header section */
#main-header {
	height: 60px;
	padding: 2rem;
	position: fixed;
	top: 0;
	z-index: 999;
	
}
#header-middle-side input[type='text'] {
	width: 680px;
	padding: 1rem 1.2rem;
	height: 28px;
  }
  
  #header-middle-side button {
	margin-left: -69px;
	height: 32px;
	width: 67px;
	display: inline-block;
	border: 0;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	background: #f4f4f4;
  }
  #header-right-side{
	height: 100%;
  }
  #header-right-side i{
	margin: 0 1.5rem;
  }
/* Main section */
.main-container{
	margin-top: 30px;
}

.fas-bars{
	padding-left: 20px;
}
.fas , .fab{
 	color: #606060;
}
.right-side{
 	padding-left: 150px;
}
.fas-video{
 	padding-left: 20px;
 	color: #606060;
}
.fab-elementor{
 	padding-left: 20px;
 	color: #606060;

 }
.fas-bell{
 	padding-left: 20px;
 	color: #606060;
}
.main-partvideo{
	padding-left: 120px;
}
.title-video{
	margin-left: 120px;
	font-size: 20px;
	color: #000701;
}
.undertitle-video{
	margin-left: 120px;
	font-size: 15px;
	color: #a4a4a4;
}
.main-part{
	display: flex;
}
.inputqueue{
	padding-left: 400px;
}
.fa-thumbs-up , .fa-thumbs-down{
	color: #909090;
}
.under-video{
	display: flex;
}
.like-dislike{
    margin-left: 100px;
}
.countlike , .countdislike{
	font-size: 16px;
	display: inline-block;
	color: #909090;
	padding-left: 10px;
}
.fa-thumbs-down{
	padding-left: 100px;
}