body {

}
nav {
	width: 100%;
	height: 70px;
	display: flex;
}
.btn-search{

}
.main-container{
	margin-top: 30px;
}
.logoyoutube{
	padding-left: 35px;
}
.fas-bars{
	padding-left: 20px;
}
.fas , .fab{
 	color: black;
}
.right-side{
 	padding-left: 90px;
}
.fas-video{
 	padding-left: 20px;

 }
.fab-elementor{
 	padding-left: 20px;

 }
.fas-bell{
 	padding-left: 20px;
}
.formsearch{
 	padding-left: 215px;
}
.inputsearch{
 	width: 650px;
 	height: 30px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 4px;
    max-width: 100%;
}

.btn-search{
    width: 50px;
    height: 36px;
    position: relative;
    right: 56px;
}
.main-partvideo{
	padding-left: 120px;
}
.title-video{
	margin-left: 120px;
	font-size: 20px;
}